<div class="container">
    <div class="viz-introduction">
        <h2 class="viz-title">Tendances par catégories de cibles</h2>

        <p class="viz-description">
            Entre 1990 et 2015, les attaques ont connu des fluctuations
            marquées, avec des pics en 1994-1995 (plus de 50 incidents annuels)
            et des creux dans les années 2000 (6 en 2006). Les catégories de
            cibles ont évolué : la catégorie du secteur privé et médias a dominé
            au début des années 2000 (21 attaques en 2001). Cependant, les
            civils et les institutions sociales sont ensuite devenus les cibles
            principales au cours des années 2000. Les attaques contre les cibles
            gouvernementales et de sécurité ont culminé en 1991 et 1995 (10
            attaques), mais celles contre les infrastructures et transports sont
            restées peu fréquentes. La catégorie "Autres", importante dans les
            années 1990 (jusqu'à 24 incidents), a grandement diminué dans les
            années 2000, reflétant peut-être un changement de stratégie des
            groupes armés.
        </p>
    </div>

    <app-loader *ngIf="isLoading"></app-loader>
    <div id="stacked-area-chart">
        <div id="tooltip" class="tooltip"></div>
    </div>
</div>
